.cards-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;

  padding: var(--cards-container-padding);
  gap: var(--cards-container-gap);

  container-type: size;
}

.cards-container > .card {
  --card-size: min(
    calc(
      (
          100cqh - var(--cards-container-gap) * (var(--cards-per-col) - 1) -
            (var(--cards-container-padding)) * 2
        ) / var(--cards-per-col)
    ),
    calc(
      (
          100cqw - var(--cards-container-gap) * (var(--cards-per-row) - 1) -
            (var(--cards-container-padding)) * 2
        ) / var(--cards-per-row)
    )
  );
}
