.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  align-content: center;
  justify-content: space-evenly;

  /* LAYOUT 1 */
  /* align-content: center;
  justify-content: center; */

  /* LAYOUT 2 */
  /* align-content: stretch;
  justify-content: space-evenly; */

  /* LAYOUT 3 */
  /* display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  grid-template-rows: repeat(var(--cards-per-col), auto);
  grid-template-columns: repeat(var(--cards-per-row), auto); */

  height: 100%;
  width: 100%;

  padding: var(--cards-container-padding);
  gap: var(--cards-container-gap);

  container-type: size;
}

.cards-container > .card {
  --card-size: min(
    calc(
      (
          100cqh - var(--cards-container-gap) * (var(--cards-per-col) - 1) -
            (var(--cards-container-padding)) * 2
        ) / var(--cards-per-col)
    ),
    calc(
      (
          100cqw - var(--cards-container-gap) * (var(--cards-per-row) - 1) -
            (var(--cards-container-padding)) * 2
        ) / var(--cards-per-row)
    )
  );
}
