/* Animations are based on: https://auroratide.com/posts/realistic-flip-animation/ */

.card {
  border-radius: var(--card-radius);

  width: auto;
  height: auto;
  aspect-ratio: 1;
  position: relative;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  animation-duration: var(--card-transition-duration);
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-name: flip-to-front;

  touch-action: none;
}

/* Apply some perspective to the parent element to allow lifting cards up effect */
*:has(> .card) {
  perspective: var(--card-perspective);
  perspective-origin: center;
  filter: drop-shadow(var(--card-shadow));
}

.card-face {
  border-radius: inherit;
  width: 100%;
  height: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-rear {
  background-image: var(--card-bg-image);
  background-position: center;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(-180deg);
}

/* animations */
/* order in transform: scale rotate translate-z  rotate-y rotate-3d */
/* Note that animation-fill-mode: both; makes the animation states persist 
when the end of the animation is reached. The changing while hovering is 
applyed by changing some CSS variables (via JS). A default value is set 
for such css variables. */

.card:hover {
  box-shadow: 0 0 var(--card-hover-shadow-size, 0)
    var(--card-hover-shadow-color);
}

/* reset the styles on active status */
.card:active {
  --card-hover-scale: 1 !important;
  --card-hover-rotate3d-x: 0 !important;
  --card-hover-rotate3d-y: 0 !important;
  --card-hover-rotate3d-deg: 0deg !important;
}

/* Glowing effect based on: https://codepen.io/markmiro/pen/wbqMPa */
.card-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(
    circle at var(--card-hover-glow-x, 50%) var(--card-hover-glow-y, -20%),
    var(--card-hover-glow-color, #ffffff22),
    #0000000f
  );
  pointer-events: none;
}

@keyframes flip-to-front-ini {
  0% {
    transform: rotate(10deg) translateZ(var(--card-perspective))
      rotateY(-180deg);
  }
  100% {
    transform: scale(var(--card-hover-scale, 1)) translateZ(0) rotateY(-360deg)
      rotate3d(
        var(--card-hover-rotate3d-x, 0),
        var(--card-hover-rotate3d-y, 0),
        0,
        var(--card-hover-rotate3d-deg, 0deg)
      );
  }
}

@keyframes flip-to-front-game-over {
  0% {
    transform: rotate(10deg) translateZ(0em) rotateY(-180deg);
  }
  50% {
    transform: rotate(0deg) translateZ(var(--card-flip-height)) rotateY(-270deg);
  }
  100% {
    transform: rotate(-20deg) translateZ(0em) rotateY(-360deg)
      rotate3d(
        var(--card-hover-rotate3d-x, 0),
        var(--card-hover-rotate3d-y, 0),
        0,
        var(--card-hover-rotate3d-deg, 0deg)
      );
  }
}

@keyframes flip-to-front {
  0% {
    transform: translateZ(0em) rotateY(-180deg);
  }
  50% {
    transform: translateZ(var(--card-flip-height)) rotateY(-270deg);
  }
  100% {
    transform: scale(var(--card-hover-scale, 1)) translateZ(0em)
      rotateY(-360deg)
      rotate3d(
        var(--card-hover-rotate3d-x, 0),
        var(--card-hover-rotate3d-y, 0),
        0,
        var(--card-hover-rotate3d-deg, 0deg)
      );
  }
}

@keyframes flip-to-back {
  0% {
    transform: translateZ(0em) rotateY(0deg);
  }
  50% {
    transform: translateZ(var(--card-flip-height)) rotateY(-90deg);
  }
  100% {
    transform: translateZ(0em) rotateY(-180deg);
  }
}
