/* Animations are based on: https://auroratide.com/posts/realistic-flip-animation/ */

.game-card {
  --card-size: calc(
    (
        100dvw - var(--gameboard-gap) * (var(--cards-per-row) - 1) -
          (var(--gameboard-padding) + var(--page-padding-w)) * 2 - 4px
      ) / var(--cards-per-row)
  );

  width: var(--card-size);
  height: var(--card-size);
}

.game-card-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* style for development only */
.game-card.selected .card-front {
  opacity: 0.5;
}

.gameboard.fetching .game-card {
  animation-name: flip-to-back;
}

.gameboard.ready-init .game-card {
  animation-name: flip-to-front-ini;
}
