.home-view .cards-container {
  --cards-per-row: var(--home-level-cards-per-row);
  --cards-per-col: var(--home-level-cards-per-col);
}

.home-view header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--home-header-padding);

  --title-fontsize: var(--home-title-fontsize);
  --instructions-fontsize: var(--home-instructions-fontsize);

  animation: fade-in var(--fade-in-duration) 1;
}
