.title h1 {
  font-family: var(--title-font);
  text-shadow: var(--text-shadow);
  font-weight: bold;
  font-size: var(--title-fontsize);

  perspective-origin: left;
  perspective: 100em;
}

.title:hover:not(.animate) {
  cursor: pointer;
}

.title.animate .title-letter,
.title:hover .title-letter {
  text-shadow: var(--text-shadow-hover);
  animation: title-animation 2s infinite;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  display: inline-block;
}

.title.animate .title-letter:nth-child(4n + 1),
.title:hover .title-letter:nth-child(4n + 1) {
  animation-delay: 0s;
}
.title.animate .title-letter:nth-child(4n + 2),
.title:hover .title-letter:nth-child(4n + 2) {
  animation-delay: 0.2s;
}
.title.animate .title-letter:nth-child(4n + 3),
.title:hover .title-letter:nth-child(4n + 3) {
  animation-delay: 0.4s;
}
.title.animate .title-letter:nth-child(4n),
.title:hover .title-letter:nth-child(4n) {
  animation-delay: 0.6s;
}

@keyframes title-animation {
  0% {
    transform: translateZ(0) translateY(0.01em);
  }
  50% {
    transform: translateZ(0.8em);
  }
  100% {
    transform: translateZ(0) translateY(0.01em);
  }
}
