@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Bangers&family=Meow+Script&display=swap");

:root {
  --main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --txt-lineheight: 1;
  --txt-fontsize: 16;

  --col-txt: #242424;
  --bg-col: rgb(255, 255, 255, 0.87);
  --bg: rgb(255, 255, 255, 0.87);
  --accent-color: rgb(220, 110, 0);

  --title-font: "Meow Script";
  --main-font: "Englebert";
  --accent-font: "Bangers";
  --secondary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --card-bg-image: url("./card-rear.jpg");

  --page-padding: 2vh max(3vw, 1em);
  --page-gap: 2vh;
  --title-font-size: 5vmin;

  --gameboard-padding: 0px;
  --gameboard-gap: max(2vw, 0.5em);

  --cards-per-row: 6;
  --card-radius: 0.5vw;
  --card-shadow: 0.2vmin 0.3vmin 1vmin black;
  --card-transition-duration: 1s;
  --card-hover-shadow-color: rgb(0, 0, 0, 0.5);
  --card-hover-text-translate-z: -10em;
  --card-hover-button-translate-z: 50em;
  /* The following are set and unset via JS
  --card-hover-scale
  --card-hover-shadow-size
  --card-hover-rotate3d-x
  --card-hover-rotate3d-y
  --card-hover-rotate3d-deg
  --card-hover-glow-x
  --card-hover-glow-y
  --card-hover-glow-color */

  --text-shadow: 0 0.05em 0.1em grey;
  --text-shadow-dark: 0 0.05em 0.1em black;

  --card-info-padding: 1em;
  --card-info-font-size: max(10vmin, 18px);
  --card-info-bg: white;

  --card-flip-height: 18em;
  --card-perspective: 100em;

  --button-border: 2px solid black;
}
