.view,
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 0;
}

.view {
  padding: var(--page-padding);
  gap: var(--page-gap);
}

header {
  width: 100%;
}
